@import "tailwindcss";

:root {
    --color-main: #3b82f6;
    --color-bg: white;
    --color-text: #0f172a;
    --color-subtext: #64748b;

    --color-card: #faf7f7;
    --color-border: #e2e8f0;
    --color-highlight: #8b5cf6;

    --color-success: #10b981;
    --color-warning: #f59e0b;
    --color-danger: #ef4444;
    --color-info: #06b6d4;

    --color-overlay: rgba(15, 23, 42, 0.45);
}

[data-theme="dark"] {
    --color-main: #60a5fa;
    --color-bg: #0f172a;
    --color-text: #f8fafc;
    --color-subtext: #94a3b8;

    --color-card: #1e293b;
    --color-border: #334155;
    --color-highlight: #a78bfa;

    --color-success: #34d399;
    --color-warning: #fbbf24;
    --color-danger: #f87171;
    --color-info: #22d3ee;

    --color-overlay: rgba(0, 0, 0, 0.7);
}

@theme {
    --color-main: var(--color-main);
    --color-bg: var(--color-bg);
    --color-text: var(--color-text);
    --color-subtext: var(--color-subtext);

    --color-card: var(--color-card);
    --color-border: var(--color-border);
    --color-highlight: var(--color-highlight);

    --color-success: var(--color-success);
    --color-warning: var(--color-warning);
    --color-danger: var(--color-danger);
    --color-info: var(--color-info);

    --color-overlay: var(--color-overlay);
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-border);
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-subtext);
}



body {
    @apply bg-bg overflow-y-scroll relative text-text;
}